/* Apenas um comentário */

.btn-savage {
	background: rgb(132, 14, 201);
	color: #000000;
}

.btn-savage:hover {
	background: rgb(85, 10, 128);
	color: #000000;
}

.bg-savage {
	background: rgb(132, 14, 201);
}